#root {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "digital-dreamers", "sans-serif";
}

@font-face {
  font-family: "digital-dreamers";
  src: url("./fonts/DigitalDreamers-jy99.ttf") format("truetype");
}

.button-area {
  width: 100%;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 1rem;
  box-sizing: border-box; /* Prevents the are to be wider than the others */
  margin-bottom: 2rem;
}

.button-area button {
  width: 90%;
  margin: 1rem;
  padding: 1rem;
}

h1 {
  border-radius: 1rem;
}

h1 {
  background-color: rgba(0, 0, 0, 0.9);
  border: 0.15rem solid;
  border-style: double;
  font-size: 2.5rem;
  text-decoration: underline;
  padding: 1rem;
}

button {
  background-color: black;
  font-size: 1rem;
  font-family: "digital-dreamers";
  margin-top: 1rem;
  border-style: outset;
}

button:active {
  background-color: black;
  font-size: 1rem;
  font-family: "digital-dreamers";
  margin-top: 1rem;
  color: #505050;
  border-style: inset;
}

.amd-model-header {
  color: red;
}

.intel-model-header {
  color: #0068b5;
}

[id^="amd-"] {
  border-color: rgba(186, 0, 0, 0.75); /* subtle transparent red */
}

[id^="intel-"] {
  border-color: rgba(0, 104, 181, 0.75); /* subtle transparent blue */
}

/* AMD-styled rows */
[id^="amd-"] tbody th,
[id^="amd-"] tbody td {
  border-color: rgba(186, 0, 0, 0.25);
}

/* Intel-styled rows */
[id^="intel-"] tbody th,
[id^="intel-"] tbody td {
  border-color: rgba(0, 104, 181, 0.25);
}

@media only screen and (hover: none) and (pointer: coarse) {
  #root {
    padding: 0.5rem;
  }
}

@media only screen and (hover: none) and (pointer: coarse) and (orientation: landscape) {
  #root {
    max-width: 500px;
  }
}
